.searchpage_header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}
.searchpage_logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchpage_headerBody > .search > .search_input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchpage_options {
  display: flex;
  align-items: center;
  color: gray;
  margin-top: 12px;
}
.searchpage_optionsRight,
.searchpage_options a {
  text-decoration: none;
  color: grey;
}

.searchpage_optionsRight,
.searchpage_optionsLeft {
  display: flex;
}

.searchpage_optionsRight {
  margin-left: 80px;
}
.searchpage_option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchpage_option a {
  margin-left: 5px;
}

.searchpage_result {
  margin: 40px 0px;
}

.searchpage_resultCounts {
  color: #70757a;
  font-size: 14px;
}

.searchpage_results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}
.searchpage_resultimage {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

.searchpage_resultTitle {
  text-decoration: none;
}
.searchpage_resultTitle:hover {
  text-decoration: underline;
  color: aqua;
}

.serachpage_results > h2 {
  font-weight: 500;
}

.serachpage_resultSnippet {
  margin-top: 10px;
}
